.App {
  text-align: center;
}

.App-logo {
  height: 8vh;
  pointer-events: none;
}
.floatRight {
  float: right !important;
}
.lables-green{
  width: auto;
  color: #f9fbf9;
  font-size: xx-large;
  font-weight: 500;
  text-shadow: 1px 1px darkgrey;
  background: #3cce3c;
  padding: 20px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 25px;
  border-radius: 35px;
}
.lables-amber{
  width: auto;
  color: white;
  font-size: xx-large;
    font-weight: 500;
    text-shadow: 1px 1px darkgray;
    background: #0fb1ef;
  padding: 20px;
  font-size: 25px;
  padding-left: 25px;
    padding-right: 25px;
  border-radius: 35px;
}
#date{
  font-size: 11px;
    font-weight: 600;
    color: gray;
}
.lables-red{
  width: auto;
  color: white;
  font-size: xx-large;
    font-weight: 500;
    text-shadow: 1px 1px darkgray;
    background: #ff6262;
    padding: 20px;
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 35px;
}
footer {
  margin-top: 40px;
}
.footer {
  border-top: 1px solid;
  /* text-align: end; */
  /* font-size: 14px; */
  padding-top: 13px;
  font-family: unset;
  color: gray;
  margin-top: 50px;
  padding-bottom: 15px;
}
.p-card-header img {
  width: 38% !important;
  padding-top: 10px;
}
.p-card-footer {
  padding-top: 1em;
  background-color: #007bff;
  color: #f9fbf9;
}

.footer-desc {
    font-size: 10px;
    font-weight: 600;
    font-family: unset;
    color: gray;
    position: absolute;
    margin-top: 5px;
    padding-bottom: 15px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.lables {
  padding: 20px auto;
  width: auto;
}
.details span {
  text-align: center;
  text-shadow: darkgray;
  padding: 20px;
}
.logoSec {
  display: inline-flex;
  padding: 30px;
  
}
body .p-dropdown {
  width: 150px;
}
.p-chart {
  overflow: hidden;
  /* margin-right: 420px; */
  /* left: 31% auto; */
  /* float: right; */
  padding: 25px 20px 20px 25px;
  top: 1vh;
  bottom: 20vh;
}
.p-card {
  width: 51% !important;
}
.navbar {
  overflow: hidden !important;
  /* background-color: #333; */
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  color: black !important;
}
.chartSec {
  top: 3vh !important;
}
.headerSec {
  margin: 10px;
}
.nav-item {
  color: black !important;
}
.details {
  /* display: inline-flex; */
  text-align: center;
  text-shadow: darkgray;
}
@media only screen and (max-width: 600px) {
  /* .details {
    display: inline-table;
    overflow: hidden;
  }
  .p-chart {
    width: 400px !important;
    overflow: hidden;
  } */
  body .p-dropdown {
    width: 130px;
  }
}
h3{
  color: black;
}
.numbers {
  font-family: cursive;
    font-size: 21px;
}
.App-header {
  display: table-cell;
  background-color: #ffffff;
  /* border: 1px  solid black; */
  /* padding-bottom: 5px;
  padding-top:5px; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  margin-top: 57px;
  /* border: 1px solid; */
  /* height: auto; */
  /* transition: .5s ease; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.iconcard {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  height: 32vh auto;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.overlay:hover .image {
  opacity: 0.3;
}
.iconsImg {
  float: right !important;
    margin-left: 69px;
    padding-top: 26px;
}
.iconsImgbook {
  float: right !important;
    margin-left: 69px;
    padding-top: 26px;
    filter: brightness(0.5);
}
.overlay:hover .middle {
  opacity: 1;
}

.text {
  /* background-color: #007bff; */
  color: white;
  /* font-size: 40px; */
  border-radius: 15px;
  padding: 16px 32px;
}
/* /////////////////////////////////// */
*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.contact-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #007bff;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.contact-button :hover {
  background-color: #72a2d6 !important;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.correspondent {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}
.p-card-footer {
  padding-top: 1em;
  margin-top: 10px;
}
.about-section {
  padding: 53px;
  text-align: center;
  /* background-color: #474e5d; */
  margin-top: 85px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 30px;
  color: #292626;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.44);
}
/* .about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  margin-top: 56px;
  color: white;
} */

.overlay {
  width: 100% !important;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}

.overlay::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  /* flex-wrap: wrap; */
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.desc {
  color: #007bff;
  border-top: 1px solid #007bff;
  font-family: cursive;
}
.contactdet {
    padding: 32px;
    width: 77%;
    padding-top: 55px;
  padding-bottom: 55px;
    margin-left: 12%;
    display: flex;
    /* border: 1px solid; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ///////////////////////////Contact/////////// */
